.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--app-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-1);
    box-shadow: var(--box-shadow-1);
    z-index: 999;
}

.container{
    height: 100%;
    width: 100%;
    max-width: var(--app-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space-2);
}

