.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--app-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-1);
    z-index: 999;
}

.container{
    height: 100%;
    width: 100%;
    max-width: var(--app-width);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 0 var(--space-2);
    gap: var(--space-6);
}

.section{
    display: flex;
    gap: var(--space-6);
}

.section:last-child{
    justify-content: flex-end;
}

.user_profile_wrapper{
    position: relative;
    cursor: pointer;
}

.user_image{
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    object-fit: cover;
    outline: solid 2px transparent;
    transition: 0.3s ease-in-out;
}

.user_image:focus{
    outline: solid 2px var(--primary-shade-1);
}

