.content_wrapper{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--app-bar-height);
    background-color: var(--accent-2);

}

.content_container{
    width: 100%;
    max-width: var(--app-width);
}