.content_wrapper{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--app-bar-height);
    background-color: var(--accent-2);

}

.content_container{
    width: 100%;
    min-height: calc(100vh - var(--footer-height) - var(--app-bar-height));
    max-width: var(--app-width);
}

.footer_wrapper{
    background-color: var(--accent-1);
    min-height: var(--footer-height);

    width: 100%;
}