
.container{
   position: relative;
}

.profile_card{
    width: 20rem;
    height: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius-1);
}

.profile_image{

}

.profile_data{
    display: flex;
}

@media screen and (max-width:720px) {
    .profile_data{
        flex-direction: column;
    }
}