.wrapper{
    flex-direction: column;
    transition:  0.3s ease-in-out;
    border-radius:0 0  4px 4px;
    background-color: var(--accent-1);
    
}

.header{
    align-items: center;
    gap: 0;
    width: 100%;
}

.label{
    position: relative;
    height:2.5rem;
    min-width: 4rem;
    font-size: var(--h6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-10);
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.active{
    color: var(--primary-shade-1);
}

.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-shade-1);
    height: 2px
}

.label:disabled{
    cursor: not-allowed;
}

@media screen and (max-width :544px) {
    .label{
        width: 100%;
    }
}